:root {
	--color-deepPurple: #363237;
	--color-Indigo: #081c3a;
	--color-Taupe: #73605b;
	--color-Blush: #d09683;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 1.5;
	color: white;
	font-family: "Rozha One", serif;
	letter-spacing: 1.5px;

	background-image: url("../images/Library.jpg");
	background-size: cover;
	background-position: left top;

	max-width: 100vw;
	min-height: 100vh;

	overflow-inline: hidden;
}

h1,
h2,
h3 {
	font-family: "Cinzel Decorative", cursive;
	text-shadow: 0 0 3px black;
}

h1 {
	font-size: 8rem;
}

h2 {
	font-size: 5rem;
	font-weight: 500;
	margin-bottom: 5rem;
}

/* ##################################TYPOGRAPHY################################# */

header {
	display: flex;
	flex-direction: column;
}

#wrapper {
	width: 60em;
	margin: 0 auto;

	padding: 0.5em 4em;
}

#book-search > input {
	width: 100%;
	margin-top: 4rem;
}

.input--style {
	opacity: 0.8;
	padding: 0.5em;

	border-radius: 5px;
	border: 0;
	box-shadow: inset 0 0 8px 0 black;
}

#library {
	margin: 8rem auto;
}

/* BOOKS STYLE */

.book {
	padding: 0.7em 0.8em;

	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;

	position: relative;
	z-index: 1;

	transition: 0.3s;
}

.book--style {
	border-radius: 20px;
	background-color: hsla(35, 50%, 60%, 0.4);
	color: white;
	border-left: 15px solid var(--color-deepPurple);
	box-shadow: 0 0 0 2px var(--color-Indigo), 1px 1px 3px 0 white;
	transform: perspective(0) translateY(0);
}

.book:hover {
	background-color: hsla(35, 50%, 60%, 0.8);
	transform: translateY(-0.5rem);
	border-color: #081c3a;
	z-index: 10;
}

/* BUTTONS STYLE */

.button--style {
	cursor: pointer;
	width: 16rem;
	background-color: transparent;
	padding: 0.5rem 3.2rem;
	border: 0;
	border-radius: 10px;
	text-transform: uppercase;
	color: rgb(175, 170, 170);
	font-weight: 600;
	letter-spacing: 1.5px;
	text-shadow: 0 2px 2px black;

	transition: 0.3s;
}

.button--style:hover,
.button--style:focus {
	color: white;
	font-size: 1.7rem;
	outline: none;
}

.title {
	font-size: 2.2rem;
	padding: 0.5rem 2rem;
}

#add-books {
	margin-bottom: 4rem;
	display: flex;
	justify-content: space-between;
}

#add-books input {
	width: 70%;
	padding: 0.5em;
}

#add-button {
	margin-right: 1.2rem;
	background-color: hsla(35, 50%, 60%, 0.4);
}

#add-button:hover,
#add-button:focus {
	background-color: hsla(35, 50%, 60%, 0.8);
}
